// colors
$dark-grey: #333333;
$grey: #666666;
$blue: #1C88BF;
$dark-blue: #364051;
$off-white: #F7F7F7;

// font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;